body{
	background-color:#eeeeee;
	width:1440px;
	height:800px;
}
.main{
	width: 500px;
	height: 750px;
	margin: auto;
	background-color:#ffffff;
	box-shadow: 0px 0px 3px 1px #d5d5d5;
}
.My_photo{
	width: 130px;
	height: 160px;
}
h1{
	padding-top: 50px;
	text-align:center;
	font-size: 20px;

}
.photo{
	text-align:center;
}
.article{
	margin-left:65px;
	margin-right:50px;

}
hr{
	width:400px;

}
