body {
  background-image: url(../img/background.gif);
  font-family: sans-serif;
}
.main{
  width: 998px;
  margin: auto;
  padding-top: 10px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
  }
  /*Heder*/
  .contacts {
    width: 128px;
    margin-left: 841px;
    font-size: 12px;
    color: #128aa7;
  }
  .logo{
    float: left;
    margin-left: 20px;
  }
  .slogan{
    position: absolute;
    left: 78px;
    top: 100px;
    font-size: 12px;
    color: #128aa7;
  }
.contries {
  width: 342px;
  height: 60px;
  margin-left: 617px;
  margin-top: 24px;
}

.india,
.nepal,
.tibet,
.butan,
.sri_lanka,
.maldiv {
  display: inline-block;
  width: 53px;
  font-size: 10px;
  text-align: center;
}
.india a,
.nepal a,
.tibet a,
.butan a,
.sri_lanka a,
.maldiv a {
  color: #128aa7;
}
/*Navigation*/
nav {
  width: 998px;
  height: 40px;
  background-color: #303030;
  color: #ffffff;
  margin-top: 0;
  border-bottom: 1px solid black;
}
.simvol {
  font-size: 8px;
}
ul{
  list-style: none;
  margin-top: -20px;
}
ul li{
  float: left;
  height: 20px;
  margin-right: 54px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background: #303030;
  padding-top: 10px;
}
ul li ul {
  display: none;
  position: absolute;
  left: -10px;
  top: 40px;
  margin: 0px;
  padding-left: 10px;
  width: 170px;
  background: #303030;
  box-shadow: 4px 10px 5px 0px rgba(0,0,0,0.75);
}
ul li ul li {
  float: none;
  display: block;
  background: none;
}
ul li:hover ul{
  display: block;

}
/*Content*/
.wraper {
  width: 998px;
  overflow: hidden;
}
.content_left {
  width: 250px;
  float: left;
  background-color: #edeef0;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  padding-left: 15px;
  padding-right: 25px;
  border-right: 1px solid #c7cacf;
}
.content_center {
  width: 498px;
  float: left;
  background-color: #ffffff;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  padding-left: 15px;
  padding-right: 25px;
}
.content_right {
  width: 250px;
  float: right;;
  background-color: #edeef0;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  padding-left: 15px;
  padding-right: 25px;
  border-left: 1px solid #c7cacf;
}
h2 {
  font-size: 18px;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px;

}
/*Footer*/
.footer {
  padding-top: 10px;
  width: 998px;
  margin: auto;
  text-align: center;
  font-size: 12px;
  color: #cee3ec;
  border-top: 3px solid black;
}
