body {
  background-image: url(../img/background.gif);
}
.main{
  width: 998px;
  margin: auto;
  background-color: #ffffff;
  }
  .contacts {
    width: 128px;
    margin-left: 841px;
  }
  .logo{
    float: left;
  }
.contries {
  width: 600px;
  height: 60px;
  margin-left: 665px;
}
.contries img {
  display: inline-block;

}
