@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: 'lucida_sans_unicoderegular', sans-serif;
}
.wrap {
  width: 908px;
  padding-top: 18px;
  margin-left: auto;
  margin-right: auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*heder*/
.wrap_login {
  position: relative;
  overflow: hidden;
}
/*Left part*/
.phone {
  float: left;
  width: 290px;
  margin-top: 7px;
  margin-left: 6px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  color: #5e696d;
}
/*central part */
.login {
  float: left;
  width: 494px;
  height: 24px;
  padding-top: 3px;
  margin-top: 3px;
  margin-left: 18px;
  font-size: 11px;
  border-radius: 3px;
  background-image: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
}

.login input {
  width: 112px;
  height: 12px;
  font-size: 11px;
}
.login img {
  float: left;
  display: block;
  height: 18px;
  margin-left: 7px;
  margin-right: 3px;
  margin-top: 1px;
}
.login a {
  display: inline-block;
  color: #fff;
}
.border_right {
  border-right: 1px solid #fff;
  margin-left: 6px;
  margin-top: 0;
  padding-right: 3px;

}
.forgot {
  margin-left: 21px;
}
.forgot span {
  display: block;
  font-size: 13px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  color: #bfbfbf;
  text-decoration: underline;
}
/*right part*/

.icon {
  float: left;
  width: 66px;
  height: 20px;
  margin-left: 18px;
  margin-top: 3px;
  padding-left: 9px;
  border: 1px solid #c1c8cb;
  border-radius: 20px;

}
.icon img {
  display: inline-block;
  margin-bottom: 4px;
}
/*imagуe hader*/
.wrap_hed_img {
  margin-top: 10px;
}
/*Navigation*/
nav {
  height: 35px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(13, 22, 66);
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }


  /*Navigation button*/
nav ul {
  float: left;
  width: 550px;
  height: 35px;
  margin-left: 126px;
  padding-top: 3px;
}
nav li {
  display: inline-block;
  margin-right: -13px;
  padding: 4px 15px 0 20px;
  text-align: center;
  font-size: 14px;
}
.ferstli {
  height: 25px;
  padding: 4px 15px 0 20px;
  margin: 0 -7px 0 0;
  background-color: #13486b;
  border-radius: 20px;
}
 li.secondli:hover
 {
   height: 25px;
   margin-right: -13px;
   background-color: #13486b;
   border-radius: 20px;
   font-size: 14px;
}
nav ul li a {
  color: #b1bcc0;
}
/*Navigation order*/
.wrap_order {
  float: left;
  width: 215px;
  margin-left: 6px;
}
.bag {
  float: left;
  color: #929b9f;
  font-size: 11px;
  padding-top: 8px;
}
.bag span {
  color: #0d5a8f;
  font-size: 12px;
}
.summ {
  float: left;
  color: #929b9f;
  font-size: 11px;
  padding-top: 8px;
  padding-left: 15px;
}
.summ span {
  color: #0d5a8f;
  font-size: 12px;
}
/*Form*/
.form {
  height: 161px;
}
/*search-car*/
.search-car {
  float: left;
  width: 413px;
  height: 133px;
  border: 1px solid #999999;
  border-radius: 20px;
  margin: 11px 0 0 3px;

}
.search-car__title {
  position: relative;
  overflow: hidden;
}
.search-car__title-diski,
.search-car__title-search,
.search-car__title-shini {
float: left;
color: #154467;
font-weight: bold;
font-family: Arial sans-serif;
}
.search-car__title-diski,
.search-car__title-shini {
  font-size: 11px;
}
.search-car__colum-tytles1 {
  margin: 4px 0 0 16px;
}
.search-car__title-diski {
  margin: 0 0 0 20px;
}
.search-car__title-search {
  margin: 0 0 0 70px;
  font-size: 15px;
}
.search-car__title-shini {
    margin: 0 0 0 72px;
}

.search-car p {
  font-size: 10px;
  font-family: Arial sans-serif;
}
.search-car__colum-1,
.search-car__colum-2 {
  float: left;
  width: 200px;
}
.search-car__colum-tytles1,
.search-car__colum-tytles2{
  float: left;
  width: 76px;
}
.search-car__colum-tytles2 {
  margin: 4px 0 0 21px;
}
.search-car__colum-1-select {
  float: left;
  width: 105px;
}
.search-car__select-markcar1,
.search-car__select-modelcar1,
.search-car__equipment1,
.search-car__select-markcar2,
.search-car__select-modelcar2,
.search-car__equipment2 {
  width: 101px;
  height: 16px;
  margin-top: 3px;
  font-size: 10px;
}
.search-car__year-car1,
.search-car__year-car2 {
  width: 56px;
  height: 16px;
  margin: 5px 0 -2px 0;
  font-size: 10px;
}
.search-car__model-car1,
.search-car__year-car1,
.search-car__model-car2,
.search-car__year-car2 {
  line-height: 10px;
}
.search-car__equipment1,
.search-car__equipment2 {
  margin-top: 8px;
}

.search-car__button button {
  margin: -2px 0 0 327px;
  background: none;
  border: none;
  color: #154467;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
}
/*search-car-end*/
/*serch-shini*/
.search-shini {
  float: left;
  width: 193px;
  height: 133px;
  margin: 10px 0 0 13px;
  border: 1px solid #999999;
  border-radius: 20px;
}
.search-shini__heder {
  margin: 0 0 0 12px;
  color: #154467;
  font-weight: bold;
  font-family: Arial sans-serif
}
.search-shini__colum1,
.search-shini__colum2 {
  float: left;
}
.search-shini__colum1 {
  margin: 8px 0 0 15px;
}
.search-shini__colum2 {
  width: 120px;
  margin: 2px 0 0 8px;
  font-size: 10px;
}

.search-shini__title1,
.search-shini__title3 {
  font-size: 10px;
}
.search-shini__title2 {
  text-align: right;
  font-size: 11px;
}
.search-shini__rowselect1,
.search-shini__rowselect2,
.search-shini__rowselect3 {
  width: 50px;
  font-size: 10px;
}
.search-shini__checkbox p {
  margin: 12px 0 -18px -5px;
}
.search-shini__button button {
  margin: 7px 0 0 109px;
  background: none;
  border: none;
  color: #154467;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
}
/*serch-shini-end*/
/*serch-diski*/
.search-diski {
  float: left;
  width: 264px;
  height: 133px;
  margin: 10px 0 0 10px;
  border: 1px solid #999999;
  border-radius: 14px;
}
.search-diski__heder {
  float: left;
  margin: 0 0 0 12px;
  color: #154467;
  font-weight: bold;
  font-family: Arial sans-serif
}

.search-diski__colum1 {
float: left;
width: 85px;
margin: 23px 0 0 -83px;
font-size: 10px;
line-height: 10px;
}
.search-diski__colum1 p {
  margin: 0 0 8px 0;
}
p.diametr {
  margin: -7px 0 0 0;
}
.grey2 {
  color: #77858b;
  font-size: 9px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
}
.search-diski__colum2 {
  float: left;
  width: 60px;
  margin-left: 6px;
  margin-top: 18px;
  line-height: 10px;
}
.search-diski__colum3 {
  float: left;
  width: 75px;
}
.search-diski__select1,
.search-diski__select3 {
  width: 59px;
}
.search-diski__select2 {
  width: 49px;
  margin: 14px 0 12px 0;
}
.search-diski__colum3 {
  width: 72px;
  border-left: 1px solid #bdc6ca;
  padding: 4px 0 0 11px;
  margin: 0 0 0 9px;
}
.search-diski__colum3 p {
  font-size: 9px;
  line-height: 9px;
}
.grey3 {
  color: #77858b;
  font-size: 8px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
}
.search-diski__colum3select1 {
  width: 59px;
  margin: 0 0 7px 0;
}
.search-diski__colum3select2 {
  width: 59px;
}
.search-diski__button button {
  margin: -14px 0 0 184px;
  background: none;
  border: none;
  color: #154467;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
}
.content {
  padding: 13px 0 0 0;
  clear: both;
}
/*Left column*/
.aside_left {
  float: left;
  width: 190px;
}
.prodacts {
  height: 20px;
  width: 150px;
  background-image: url(../img/icon_1.png);
  background-position: 0 2px;
  background-repeat: no-repeat;
  font-size: 12px;
  line-height: 14px;
  margin-top: 4px;
  padding-top: 6px;
  padding-left: 30px;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
}
/*Shini*/
.shini {
  width: 180px;
  margin: 10px 0 10px 0;
}
.shini_title {
  width: 118px;
  height: 16px;
  margin-top: 12px;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-left: 30px;
  background-image: url(../img/icon_2.png);
  background-position: 3px 2px;
  background-repeat: no-repeat;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 12px;
  line-height: 10px;
}

.aside_left a {
  display: block;
  width: 130px;
  height: 14px;
  background-image: url(../img/marker.png);
  background-repeat: no-repeat;
  padding-left: 11px;
  padding-bottom: 10px;
  margin-top: 2px;
  margin-left: 36px;
  color: #114165;
  font-size: 13px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  line-height: 11px;
}
.aside_left a:hover {
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-decoration: underline;

}
/*Disks*/
.diski {
    width: 180px;
    margin: -20px 0 10px 0;
}
.diski_title {
  width: 118px;
  height: 19px;
  margin-bottom: 8px;
  padding-top: 7px;
  padding-left: 31px;
  background-image: url(../img/icon_2.png);
  background-position: 3px 2px;
  background-repeat: no-repeat;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 12px;
  line-height: 13px;
}

/*Bolts*/
.bolti {
    width: 180px;
    margin: -21px 0 10px 0;
}
.bolti_title {
  width: 118px;
  height: 19px;
  margin-bottom: 8px;
  padding-top: 7px;
  padding-left: 31px;
  background-image: url(../img/icon_2.png);
  background-position: 2px 2px;
  background-repeat: no-repeat;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 12px;
  line-height: 13px;
}
/*right colum*/
.aside_right {
  float: left;
  width: 190px;
}
.brands {
  height: 19px;
  width: 150px;
  background-image: url(../img/icon_1.png);
  background-position: 2px 1px;
  background-repeat: no-repeat;
  font-size: 13px;
  line-height: 14px;
  margin: 3px 0 0 10px;
  padding-top: 6px;
  padding-left: 31px;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
}
.chackbox_shini {
  margin-left: 31px;
  margin-top: 5px;
}
.chackbox_shini_brand_2 {
  margin-top: 6px;
  margin-bottom: 4px;
}
.shini_title_right,
.diski_title_right {
  width: 101px;
  height: 18px;
  margin-top: 15px;
  margin-left: 26px;
  padding-top: 7px;
  padding-left: 32px;
  background-image: url(../img/icon_2.png);
  background-position: 1px 0px;
  background-repeat: no-repeat;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 12px;
  line-height: 13px;
}
.diski_right {
  margin-top: -4px;
}
.chackbox_diski {
  margin: 7px 0 0 30px;
}
.chackbox_diski_brand_2 {
  margin: 5px 0 6px 0;
}
button {
  margin: 16px 0 0 34px;
  height: 25px;
  width: 80px;
  color: #fff;
  background-color: #154b6d;
  border: none;
  border-radius: 20px;
}

/*central colum*/
.aside_center {
  float: left;
  width: 526px;
  background-image: url(../img/background.png);
}
.ferst_row {
  margin: 7px 0 0 22px;
}
.second_row {
  margin: 14px 0 0 22px;
}
.thead_row {
  margin: 16px 0 27px 22px;
}
.item_nokian_1,
.item_nokian_2,
.item_nokian_3 {
  margin: 0 25px 0 25px;
}
.item_goodyer_1,
.item_nokian_1,
.item_hankook_1 {
  display: inline-block;
}
.item_goodyer_2,
.item_nokian_2,
.item_hankook_2 {
  display: inline-block;
}
.item_goodyer_3,
.item_nokian_3,
.item_hankook_3 {
  display: inline-block;
}
.title_goodyer_1,
.title_goodyer_2,
.title_goodyer_3 {
  margin: 7px 0 -5px 35px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  color: #206988;
}
.title_nokian_1,
.title_nokian_2,
.title_nokian_3 {
  margin: 7px 0 -5px 45px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  color: #206988;
}
.title_hankook_1,
.title_hankook_2,
.title_hankook_3 {
  margin: 7px 0 -5px 39px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  color: #206988;
}

.model_goodyer_1,
.model_goodyer_2,
.model_goodyer_3 {
  margin: 1px 0 -2px 14px;
  font-size: 13px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
}
.model_nokian_1,
.model_nokian_2,
.model_nokian_3 {
  margin: 1px 0 -3px 23px;
  font-size: 13px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
}
.model_hankook_1,
.model_hankook_2,
.model_hankook_3 {
  margin: 1px 0 -3px 10px;
  font-size: 13px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
}
.price_goodyear_1,
.price_goodyear_2,
.price_goodyear_3 {
  margin: 3px 0 0 39px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial, sans-serif;
  color: #114165;
}
.price_nokian_1,
.price_nokian_2,
.price_nokian_3 {
  margin: 4px 0 0 34px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial, sans-serif;
  color: #114165;
}
.price_hankook_1,
.price_hankook_2,
.price_hankook_3 {
  margin: 4px 0 0 33px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial, sans-serif;
  color: #114165;
}

/*Footer*/
.brands_footer {
  clear: both;
  height: 27px;
  margin-left: 116px;
  margin-right: 99px;
  padding-top: 38px;
}
/*sprite*/
.toyo,
.bridgestone,
.continental,
.cooper,
.avon,
.tire,
.pirelli,
.dunlop {
  float: left;
  height: 27px;
  /*width: 99px;*/
  background-image: url(../img/sprite.png);
}
.toyo {
  width: 82px;
  }
.bridgestone {
    background-position: -89px 0 ;
    width: 103px;
    margin-left: 7px;
  }
.continental {
    background-position: -198px 0 ;
    width: 85px;
    margin-left: 6px;
}
.cooper {
    background-position: -297px 0 ;
    width: 61px;
    margin-left: 14px;
}
.avon {
    background-position: -365px 0 ;
    width: 82px;
    margin-left: 7px;
}
.tire {
    background-position: -456px 0 ;
    width: 61px;
    margin-left: 9px;
}
.pirelli {
    background-position: -526px 0 ;
    width: 65px;
    margin-left: 9px;
}
.dunlop {
    background-position: -602px 0 ;
    width: 74px;
    margin-left: 11px;
  }




.footer_backgraund {
  height: 100px;
  margin-top: 25px;
  background-image: url(../img/footer_backgraund.png);
}
.footer_backgraund_a {
  margin-left: 298px;
  margin-top: 0;
}


.footer_backgraund a {
  display: inline-block;
  height: 6px;
  line-height: 1px;
  margin-top: 14px;
  padding: 5px 10px 0 11px;
  color: #bec6c9;
  text-decoration: none;
  border-left: 1px solid #bec6c9;
  font-family: Arial, sans-serif;
  font-size: 12px;

}
.footer_backgraund a:hover {
  color: #52abcb;
}
a.border_none {
  border: none;
}
.footer_backgraund_slogan {
  margin: 10px 0 0 376px;
  padding: 0 0 0 0;
  color: #6c4444;
  font-family: Arial, sans-serif;
  font-size: 10px;

}
