@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: 'lucida_sans_unicoderegular';
}
.wrap {
  width: 908px;
  padding-top: 18px;
  margin-left: auto;
  margin-right: auto;
}
/*heder*/
.wrap_login {
  position: relative;
  overflow: hidden;
}
/*Левая часть*/
.phone {
  float: left;
  width: 290px;
  font-family: Arial;
  font-size: 18px;
  color: #5e696d;
}
/*Центральная часть*/
.login {
  float: left;
  width: 494px;
  height: 27px;
  padding-top: 3px;
  font-size: 11px;
  background-color: #114064;
  border-radius: 4px;
}
.login input {
  width: 112px;
  height: 18px;
  font-size: 11px;
}
.login img {
  float: left;
  display: block;
  height: 18px;
  margin-left: 7px;
  margin-right: 3px;
  margin-top: 4px;
}
.login a {
  display: inline-block;
  color: #fff;
}
.border_right {
  border-right: 1px solid #fff;
  margin-left: 6px;
  padding-right: 3px;

}
.forgot {
  margin-left: 19px;
}
.forgot span {
  color: #bfbfbf;
  text-decoration: underline;
}
/*Правая часть*/

.icon {
  float: left;
  width: 60px;
  margin-left: 17px;
  padding-left: 9px;
  border: 1px solid #c1c8cb;
  border-radius: 20px;

}
.icon img {
  display: inline-block;
  margin-bottom: 4px;
}
/*Картинка хедера*/
.wrap_hed_img {
  margin-top: 10px;
}
/*Навигация*/
nav {
  height: 35px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  background-color: #101213;
  border-radius: 5px;
  }
  /*Навигация кнопки*/
ul {
  float: left;
  margin-left: 60px;
  padding-top: 8px;
}
li {
  float: left;
  width: 123px;
  text-align: center;
  font-size: 14px;
}
li:hover
 {
  background-color: #13486b;
  border-radius: 20px;
}
ul li a {
  color: #b1bcc0;
}
/*Навигация заказ*/
.wrap_order {
  float: left;
  width: 215px;
}
.bag {
  float: left;
  color: #929b9f;
  font-size: 11px;
  padding-top: 8px;
}
.bag span {
  color: #0d5a8f;
  font-size: 12px;
}
.summ {
  float: left;
  color: #929b9f;
  font-size: 11px;
  padding-top: 8px;
  padding-left: 15px;
}
.summ span {
  color: #0d5a8f;
  font-size: 12px;
}
/*Form*/
.form {
  height: 135px;
  border: 1px solid black;
}
/*Левая колонка*/
.aside_left {
  float: left;
  width: 182px;
}
