@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: 'lucida_sans_unicoderegular';
}
.wrap {
  width: 908px;
  padding-top: 18px;
  margin-left: auto;
  margin-right: auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*heder*/
.wrap_login {
  position: relative;
  overflow: hidden;
}
/*Левая часть*/
.phone {
  float: left;
  width: 290px;
  margin-top: 7px;
  margin-left: 6px;
  font-family: Arial;
  font-size: 18px;
  color: #5e696d;
}
/*Центральная часть*/
.login {
  float: left;
  width: 494px;
  height: 24px;
  padding-top: 3px;
  margin-top: 3px;
  margin-left: 18px;
  font-size: 11px;
  background-color: #114064;
  border-radius: 4px;
}
.login input {
  width: 112px;
  height: 12px;
  font-size: 11px;
}
.login img {
  float: left;
  display: block;
  height: 18px;
  margin-left: 7px;
  margin-right: 3px;
  margin-top: 4px;
}
.login a {
  display: inline-block;
  color: #fff;
}
.border_right {
  border-right: 1px solid #fff;
  margin-left: 6px;
  margin-top: 0;
  padding-right: 3px;

}
.forgot {
  margin-left: 19px;
}
.forgot span {
  display: block;
  margin-left: 0px;
  font-size: 12px;
  font-family: 'lucida_sans_unicoderegular';
  color: #bfbfbf;
  text-decoration: underline;
}
/*Правая часть*/

.icon {
  float: left;
  width: 66px;
  height: 20px;
  margin-left: 18px;
  margin-top: 3px;
  padding-left: 9px;
  border: 1px solid #c1c8cb;
  border-radius: 20px;

}
.icon img {
  display: inline-block;
  margin-bottom: 4px;
}
/*Картинка хедера*/
.wrap_hed_img {
  margin-top: 10px;
}
/*Навигация*/
nav {
  height: 35px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  background-color: #101213;
  border-radius: 5px;
  }
  /*Навигация кнопки*/
nav ul {
  float: left;
  width: 486px;
  height: 35px;
  margin-left: 126px;
  padding-top: 8px;
  padding-left: 3px;
}
nav li {
  float: left;
  width: 122px;
  margin-right: -26px;
  text-align: center;
  font-size: 14px;
}
 nav li:hover
 {
  background-color: #13486b;
  border-radius: 20px;
}
nav ul li a {
  color: #b1bcc0;
}
/*Навигация заказ*/
.wrap_order {
  float: left;
  width: 215px;
  margin-left: 69px;
}
.bag {
  float: left;
  color: #929b9f;
  font-size: 11px;
  padding-top: 8px;
}
.bag span {
  color: #0d5a8f;
  font-size: 12px;
}
.summ {
  float: left;
  color: #929b9f;
  font-size: 11px;
  padding-top: 8px;
  padding-left: 15px;
}
.summ span {
  color: #0d5a8f;
  font-size: 12px;
}
/*Form*/
.form {
  height: 135px;
  border: 1px solid black;
  margin-top: 11px;
}
.content {
  margin-top: 12px;
}
/*Левая колонка*/
.aside_left {
  float: left;
  width: 190px;
}
.prodacts {
  height: 20px;
  width: 150px;
  background-image: url(../img/icon_1.png);
  background-repeat: no-repeat;
  font-size: 12px;
  line-height: 14px;
  margin-top: 4px;
  padding-top: 6px;
  padding-left: 30px;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
}
/*Шины*/
.shini {
  width: 180px;
  margin: 10px 0 10px 0;
}
.shini_title {
  width: 118px;
  height: 16px;
  margin-top: 12px;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-left: 30px;
  background-image: url(../img/icon_2.png);
  background-repeat: no-repeat;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 12px;
  line-height: 10px;
}

.aside_left a {
  display: block;
  width: 130px;
  height: 14px;
  background-image: url(../img/marker.png);
  background-repeat: no-repeat;
  padding-left: 11px;
  padding-bottom: 10px;
  margin-top: 2px;
  margin-left: 36px;
  color: #114165;
  font-size: 13px;
  font-family: 'lucida_sans_unicoderegular';
  line-height: 11px;
}
.aside_left a:hover {
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  text-decoration: underline;

}
/*Диски*/
.diski {
    width: 180px;
    margin: -20px 0 10px 0;
}
.diski_title {
  width: 118px;
  height: 19px;
  margin-bottom: 8px;
  padding-top: 7px;
  padding-left: 31px;
  background-image: url(../img/icon_2.png);
  background-repeat: no-repeat;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 12px;
  line-height: 13px;
}

/*Болты*/
.bolti {
    width: 180px;
    margin: -21px 0 10px 0;
}
.bolti_title {
  width: 118px;
  height: 19px;
  margin-bottom: 8px;
  padding-top: 7px;
  padding-left: 31px;
  background-image: url(../img/icon_2.png);
  background-repeat: no-repeat;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 12px;
  line-height: 13px;
}
/*Правая колонка*/
.aside_right {
  float: left;
  width: 190px;
}
.brands {
  height: 19px;
  width: 150px;
  background-image: url(../img/icon_1.png);
  background-repeat: no-repeat;
  font-size: 13px;
  line-height: 14px;
  margin: 3px 0 0 10px;
  padding-top: 6px;
  padding-left: 31px;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
}
.chackbox_shini {
  margin-left: 31px;
  margin-top: 5px;
}
.chackbox_shini_brand_2 {
  margin-top: 6px;
  margin-bottom: 4px;
}
.shini_title_right,
.diski_title_right {
  width: 101px;
  height: 18px;
  margin-top: 15px;
  margin-left: 26px;
  padding-top: 7px;
  padding-left: 32px;
  background-image: url(../img/icon_2.png);
  background-repeat: no-repeat;
  color: #114165;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 12px;
  line-height: 13px;
}
.diski_right {
  margin-top: -4px;
}
.chackbox_diski {
  margin: 7px 0 0 30px;
}
.chackbox_diski_brand_2 {
  margin: 5px 0 6px 0;
}
button {
  margin: 16px 0 0 34px;
  height: 25px;
  width: 80px;
  color: #fff;
  background-color: #154b6d;
  border: none;
  border-radius: 20px;
}

/*Центральная часть*/
.aside_center {
  position: relative;
  float: left;
  width: 526px;
  /*background-image: url(../img/background.png);*/
}
.item_goodyer_1 {
  position: absolute;
  left: 22px;
  top: 8px;
}
.title_goodyer_1,
.title_goodyer_2,
.title_goodyer_3 {
  margin: 7px 0 -5px 35px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'lucida_sans_unicoderegular';
  color: #206988;
}
.title_nokian_1,
.title_nokian_2,
.title_nokian_3 {
  margin: 7px 0 -5px 45px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'lucida_sans_unicoderegular';
  color: #206988;
}
.title_hankook_1,
.title_hankook_2,
.title_hankook_3 {
  margin: 7px 0 -5px 39px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'lucida_sans_unicoderegular';
  color: #206988;
}

.model_goodyer_1,
.model_goodyer_2,
.model_goodyer_3 {
  margin: 1px 0 -2px 14px;
  font-size: 13px;
  font-family: 'lucida_sans_unicoderegular';
}
.model_nokian_1,
.model_nokian_2,
.model_nokian_3 {
  margin: 1px 0 -3px 23px;
  font-size: 13px;
  font-family: 'lucida_sans_unicoderegular';
}
.model_hankook_1,
.model_hankook_2,
.model_hankook_3 {
  margin: 1px 0 -3px 10px;
  font-size: 13px;
  font-family: 'lucida_sans_unicoderegular';
}
.price_goodyear_1,
.price_goodyear_2,
.price_goodyear_3 {
  margin: 3px 0 0 39px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial;
  color: #114165;
}
.price_nokian_1,
.price_nokian_2,
.price_nokian_3 {
  margin: 4px 0 0 34px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial;
  color: #114165;
}
.price_hankook_1,
.price_hankook_2,
.price_hankook_3 {
  margin: 4px 0 0 33px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial;
  color: #114165;
}

.item_goodyer_2 {
  position: absolute;
  left: 22px;
  top: 210px;
}
.item_goodyer_3 {
  position: absolute;
  left: 22px;
  top: 414px;
}
.item_nokian_1 {
  position: absolute;
  left: 191px;
  top: 8px;
}
.item_nokian_2 {
  position: absolute;
  left: 191px;
  top: 210px;
}
.item_nokian_3 {
  position: absolute;
  left: 191px;
  top: 414px;
}
.item_hankook_1 {
  position: absolute;
  left: 359px;
  top: 8px;
}
.item_hankook_2 {
  position: absolute;
  left: 359px;
  top: 210px;
}
.item_hankook_3 {
  position: absolute;
  left: 359px;
  top: 414px;
}
/*Footer*/
.brands_footer {
  clear: both;
  margin-left: 116px;
  padding-top: 38px;
}
.footer_backgraund {
  height: 100px;
  margin-top: 25px;
  background-image: url(../img/footer_backgraund.png);
}
.footer_backgraund_a {
  margin-left: 298px;
  margin-top: 0;
}


.footer_backgraund a {
  display: inline-block;
  height: 6px;
  line-height: 1px;
  margin-top: 14px;
  padding: 5px 10px 0 11px;
  color: #bec6c9;
  text-decoration: none;
  border-left: 1px solid #bec6c9;
  font-family: Arial;
  font-size: 12px;

}
.footer_backgraund a:hover {
  color: #52abcb;
}
a.border_none {
  border: none;
}
.footer_backgraund_slogan {
  margin: 10px 0 0 376px;
  padding: 0 0 0 0;
  color: #6c4444;
  font-family: Arial;
  font-size: 10px;

}
