@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?20203398");
  src: url("../fonts/fontello.eot?20203398#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?20203398") format("woff2"), url("../fonts/fontello.woff?20203398") format("woff"), url("../fonts/fontello.ttf?20203398") format("truetype"), url("../fonts/fontello.svg?20203398#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-facebook:before {
  content: '\e800'; }

/* 'юаА' */
.icon-twitter:before {
  content: '\e801'; }

/* 'юаБ' */
.icon-linkedin:before {
  content: '\e802'; }

/* 'юаВ' */
.icon-skype:before {
  content: '\e803'; }

/* 'юаГ' */
.icon-search:before {
  content: '\e804'; }

/* 'юаД' */
.icon-rss:before {
  content: '\e805'; }

/* 'юаЕ' */
.icon-right-small:before {
  content: '\e806'; }

/* 'юаЖ' */
.icon-plus:before {
  content: '\e807'; }

/* 'юаЗ' */
.icon-minus:before {
  content: '\e808'; }

/* 'юаИ' */
.icon-location:before {
  content: '\e809'; }

/* 'юаЙ' */
.icon-mobile:before {
  content: '\e80a'; }

/* 'юаК' */
.icon-mail:before {
  content: '\e80b'; }

/* 'юаЛ' */
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 1160px;
  height: 470px; }

.jcarousel ul {
  width: 20000em;
  position: relative;
  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0; }

.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left; }

body {
  font-family: 'Ubuntu', sans-serif; }

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.wrap {
  width: 1160px;
  margin-left: auto;
  margin-right: auto; }

.logo {
  width: 220px;
  height: 36px;
  margin: 36px 0 0 4px;
  float: left; }
  .logo .logo__link {
    display: block;
    float: left; }
  .logo .logo__name {
    width: 220px; }
    .logo .logo__name .logo__bigtext {
      font-size: 30px;
      color: #434343; }
    .logo .logo__name .logo__smalltext {
      font-size: 12px;
      color: #8f8f8f;
      letter-spacing: 3.4px; }

.social {
  margin-top: 36px;
  float: right;
  color: #cccccc; }
  .social i:hover {
    color: #248cec;
    cursor: pointer; }

.wrapmenu {
  width: 1160px;
  height: 56px;
  background-color: #2a2d32;
  margin-top: 38px; }
  .wrapmenu .menu {
    height: 56px; }
  .wrapmenu .menu__item {
    display: inline-block;
    width: 115px;
    height: 56px;
    padding-top: 20px;
    border-right: 2px solid #181a1d;
    text-align: center; }
  .wrapmenu .menu__link {
    text-decoration: none;
    color: #fff; }
  .wrapmenu .menu__link:hover {
    color: #f4b60d; }

/*# sourceMappingURL=style.css.map */
