
@import 'iconFont.scss';
@import 'carousel.scss';
$coloryellow: #f4b60d;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Ubuntu Condensed', sans-serif;
body {
  font-family: 'Ubuntu', sans-serif;
}

.clearfix::after {
  content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;

}
.wrap {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
// Logo
.logo {
  width: 220px;
  height: 36px;
  margin: 36px 0 0 4px;
  float: left;
  .logo__link {
    display: block;
    float: left;
  }
  .logo__name {
    width: 220px;
    .logo__bigtext{
      font-size: 30px;
      color: #434343;
    }
    .logo__smalltext {
      font-size: 12px;
      color: #8f8f8f;
      letter-spacing: 3.4px;
    }
  }
}
// social
.social{
  margin-top: 36px;
  float: right;
  color: #cccccc;
  i:hover{
    color: #248cec;
    cursor: pointer;
  }
}
// Navigation
.wrapmenu {
  width: 1160px;
  height: 56px;
  background-color: #2a2d32;
  margin-top: 38px;
  .menu {
    height: 56px;
  }
  .menu__item {
    display: inline-block;
    width: 115px;
    height: 56px;
    padding-top: 20px;
    border-right: 2px solid #181a1d;
    text-align: center;
  }
  .menu__link {
    text-decoration: none;
    color: #fff;
  }
  .menu__link:hover {
    color: #f4b60d;
  }
}
