@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?20203398");
  src: url("../fonts/fontello.eot?20203398#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?20203398") format("woff2"), url("../fonts/fontello.woff?20203398") format("woff"), url("../fonts/fontello.ttf?20203398") format("truetype"), url("../fonts/fontello.svg?20203398#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-facebook:before {
  content: '\e800'; }

/* 'юаА' */
.icon-twitter:before {
  content: '\e801'; }

/* 'юаБ' */
.icon-linkedin:before {
  content: '\e802'; }

/* 'юаВ' */
.icon-skype:before {
  content: '\e803'; }

/* 'юаГ' */
.icon-search:before {
  content: '\e804'; }

/* 'юаД' */
.icon-rss:before {
  content: '\e805'; }

/* 'юаЕ' */
.icon-right-small:before {
  content: '\e806'; }

/* 'юаЖ' */
.icon-plus:before {
  content: '\e807'; }

/* 'юаЗ' */
.icon-minus:before {
  content: '\e808'; }

/* 'юаИ' */
.icon-location:before {
  content: '\e809'; }

/* 'юаЙ' */
.icon-mobile:before {
  content: '\e80a'; }

/* 'юаК' */
.icon-mail:before {
  content: '\e80b'; }

/* 'юаЛ' */
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 1160px;
  height: 470px; }

.jcarousel ul {
  width: 20000em;
  position: relative;
  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0; }

.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left; }

body {
  font-family: 'Ubuntu', sans-serif; }

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.wrap {
  width: 1160px;
  margin-left: auto;
  margin-right: auto; }

.logo {
  width: 220px;
  height: 36px;
  margin: 36px 0 0 4px;
  float: left; }
  .logo .logo__link {
    display: block;
    float: left; }
  .logo .logo__name {
    width: 220px; }
    .logo .logo__name .logo__bigtext {
      font-size: 30px;
      color: #434343; }
    .logo .logo__name .logo__smalltext {
      font-size: 12px;
      color: #8f8f8f;
      letter-spacing: 3.4px; }

.social {
  margin-top: 36px;
  float: right;
  color: #cccccc; }
  .social i:hover {
    color: #248cec;
    cursor: pointer; }

.wrapmenu {
  width: 1160px;
  height: 56px;
  background-color: #2a2d32;
  margin-top: 38px;
  margin-bottom: 40px; }
  .wrapmenu .menu {
    height: 56px;
    float: left; }
  .wrapmenu .menu__item {
    display: inline-block;
    width: 115px;
    height: 56px;
    border-right: 2px solid #181a1d;
    text-align: center; }
  .wrapmenu .menu__item_blue {
    background-color: #248cec; }
  .wrapmenu .menu__link {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    text-decoration: none;
    color: #fff; }
  .wrapmenu .menu__link:hover {
    color: #f4b60d; }
  .wrapmenu .search {
    float: right;
    overflow: hidden;
    width: 240px;
    height: 40px;
    margin: 9px 9px 9px 0;
    background: #35383c;
    border: 1px solid black; }
    .wrapmenu .search .search_text {
      height: 100%;
      width: 200px;
      padding-left: 11px;
      border: none;
      background: #35383c;
      color: #fff; }
    .wrapmenu .search .search_text:focus {
      outline: none; }
    .wrapmenu .search .icon-search {
      color: #5d6063;
      font-size: 18px; }

.wrapcarousel {
  position: relative; }
  .wrapcarousel .jcarousel-pagination {
    position: absolute;
    right: 540px;
    bottom: 17px; }
  .wrapcarousel .jcarousel-pagination a {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    border: 4px solid #fff;
    color: #fff;
    background-color: #fff; }
  .wrapcarousel .jcarousel-pagination .active {
    background-color: #001d1d;
    color: #001d1d; }
  .wrapcarousel .slogan {
    position: absolute;
    width: 310px;
    height: 200px;
    left: 36px;
    bottom: 40px; }
    .wrapcarousel .slogan .slogan__item1 {
      width: 216px;
      height: 66px;
      font-weight: 500;
      font-size: 54px;
      color: #f4b60d;
      background-color: rgba(0, 0, 0, 0.8);
      line-height: 72px;
      text-align: center; }
    .wrapcarousel .slogan .slogan__item2 {
      width: 216px;
      height: 66px;
      font-weight: 500;
      font-size: 54px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.8);
      line-height: 60px;
      text-align: center; }
    .wrapcarousel .slogan .slogan__item3 {
      width: 100%;
      height: 66px;
      font-weight: 500;
      font-size: 54px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.8);
      line-height: 53px;
      text-align: center; }

.aboutCompany {
  width: 100%;
  height: 340px; }
  .aboutCompany .aboutCompany__power,
  .aboutCompany .aboutCompany__technologies,
  .aboutCompany .aboutCompany__support {
    position: relative;
    width: 385px;
    height: 180px;
    margin-top: 70px;
    float: left; }
  .aboutCompany .aboutCompany__contentwrap {
    width: 255px;
    float: right; }
  .aboutCompany .aboutCompany__logo1,
  .aboutCompany .aboutCompany__logo2,
  .aboutCompany .aboutCompany__logo3 {
    width: 40px;
    height: 40px;
    background-image: url(../img/spritesheet.png); }
  .aboutCompany .aboutCompany__logo1 {
    background-position: 40px 0; }
  .aboutCompany .aboutCompany__logo2 {
    background-position: 0 0; }
  .aboutCompany .aboutCompany__logo3 {
    background-position: 0 -40px; }
  .aboutCompany .aboutCompany__powertitle,
  .aboutCompany .aboutCompany__technologiestitle,
  .aboutCompany .aboutCompany__supporttitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0 30px 0; }
  .aboutCompany .aboutCompany__powerarticle,
  .aboutCompany .aboutCompany__technologiesaticle,
  .aboutCompany .aboutCompany__supportaticle {
    color: #8a8a8a;
    font-size: 13px;
    margin-bottom: 25px; }
  .aboutCompany .aboutCompany__powerlink,
  .aboutCompany .aboutCompany__technologieslink,
  .aboutCompany .aboutCompany__supportlink {
    text-decoration: none;
    font-size: 13px;
    color: #636466; }
  .aboutCompany .icon-right-small {
    color: #248cec; }
  .aboutCompany .aboutCompany__powerlink:hover
  .icon-right-small {
    color: #989fb3; }
  .aboutCompany .aboutCompany__technologieslink:hover
  .icon-right-small {
    color: #989fb3; }
  .aboutCompany .aboutCompany__supportlink:hover
  .icon-right-small {
    color: #989fb3; }
  .aboutCompany .aboutCompany__powerlink:hover,
  .aboutCompany .aboutCompany__technologieslink:hover,
  .aboutCompany .aboutCompany__supportlink:hover {
    color: #248cec;
    cursor: pointer; }
  .aboutCompany .aboutCompany__number1,
  .aboutCompany .aboutCompany__number2,
  .aboutCompany .aboutCompany__number3 {
    position: absolute;
    top: 27px;
    left: 25px;
    color: #e9e9ea;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 90px; }

.wrapOurServices {
  width: 100%;
  height: 500px;
  background-color: #2a2d32; }
  .wrapOurServices .OurServices {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
    .wrapOurServices .OurServices .OurServices__title {
      padding-top: 48px;
      font-size: 24px;
      color: #fff; }
    .wrapOurServices .OurServices .OurServices__Box1,
    .wrapOurServices .OurServices .OurServices__Box2,
    .wrapOurServices .OurServices .OurServices__Box3,
    .wrapOurServices .OurServices .OurServices__Box4 {
      margin-top: 55px;
      width: 260px;
      height: 310px;
      float: left; }
    .wrapOurServices .OurServices .OurServices__Box1,
    .wrapOurServices .OurServices .OurServices__Box2,
    .wrapOurServices .OurServices .OurServices__Box3 {
      margin-right: 40px; }
    .wrapOurServices .OurServices .Box1Pictur,
    .wrapOurServices .OurServices .Box2Pictur,
    .wrapOurServices .OurServices .Box3Pictur,
    .wrapOurServices .OurServices .Box4Pictur {
      width: 260px;
      height: 260px;
      background-position: center; }
      .wrapOurServices .OurServices .Box1Pictur .Box1Pictur__hover,
      .wrapOurServices .OurServices .Box2Pictur .Box1Pictur__hover,
      .wrapOurServices .OurServices .Box3Pictur .Box1Pictur__hover,
      .wrapOurServices .OurServices .Box4Pictur .Box1Pictur__hover {
        opacity: 0;
        width: 260px;
        height: 260px;
        line-height: 260px;
        text-align: center;
        background-color: rgba(40, 140, 232, 0.7); }
        .wrapOurServices .OurServices .Box1Pictur .Box1Pictur__hover .Box1Pictur__hoverimg,
        .wrapOurServices .OurServices .Box2Pictur .Box1Pictur__hover .Box1Pictur__hoverimg,
        .wrapOurServices .OurServices .Box3Pictur .Box1Pictur__hover .Box1Pictur__hoverimg,
        .wrapOurServices .OurServices .Box4Pictur .Box1Pictur__hover .Box1Pictur__hoverimg {
          vertical-align: middle; }
    .wrapOurServices .OurServices .Box1Pictur {
      background-image: url(../img/photo1.jpg); }
    .wrapOurServices .OurServices .Box2Pictur {
      background-image: url(../img/photo2.jpg); }
    .wrapOurServices .OurServices .Box3Pictur {
      background-image: url(../img/photo3.jpg); }
    .wrapOurServices .OurServices .Box4Pictur {
      background-image: url(../img/photo4.jpg); }
    .wrapOurServices .OurServices .BoxLink {
      display: block;
      margin-top: 35px;
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      color: #fff; }
    .wrapOurServices .OurServices .BoxLink:hover {
      color: #f4b60d; }

.news {
  width: 100%;
  height: 545px;
  background-color: #f7f7f7; }
  .news .wrapNews {
    width: 1160px;
    margin-left: auto;
    margin-right: auto; }
    .news .wrapNews .latestNews {
      width: 560px;
      float: left; }
      .news .wrapNews .latestNews .latestNews__title {
        margin-top: 65px;
        margin-bottom: 65px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: #000; }
      .news .wrapNews .latestNews .latestNews__articles1,
      .news .wrapNews .latestNews .latestNews__articles2 {
        margin-bottom: 30px; }
        .news .wrapNews .latestNews .latestNews__articles1 .articles1__pictur,
        .news .wrapNews .latestNews .latestNews__articles2 .articles1__pictur {
          background-image: url(../img/circulphoto.jpg); }
        .news .wrapNews .latestNews .latestNews__articles1 .articles2__pictur,
        .news .wrapNews .latestNews .latestNews__articles2 .articles2__pictur {
          background-image: url(../img/manphoto.jpg); }
        .news .wrapNews .latestNews .latestNews__articles1 .articles1__pictur,
        .news .wrapNews .latestNews .latestNews__articles1 .articles2__pictur,
        .news .wrapNews .latestNews .latestNews__articles2 .articles1__pictur,
        .news .wrapNews .latestNews .latestNews__articles2 .articles2__pictur {
          width: 150px;
          height: 150px;
          position: relative;
          float: left;
          background-position: center; }
          .news .wrapNews .latestNews .latestNews__articles1 .articles1__pictur .pictur__month,
          .news .wrapNews .latestNews .latestNews__articles1 .articles2__pictur .pictur__month,
          .news .wrapNews .latestNews .latestNews__articles2 .articles1__pictur .pictur__month,
          .news .wrapNews .latestNews .latestNews__articles2 .articles2__pictur .pictur__month {
            width: 39px;
            height: 39px;
            position: absolute;
            left: -20px;
            top: 15px;
            background-color: #248cec;
            color: #fff;
            font-weight: 500;
            line-height: 40px;
            text-align: center; }
          .news .wrapNews .latestNews .latestNews__articles1 .articles1__pictur .pictur__day,
          .news .wrapNews .latestNews .latestNews__articles1 .articles2__pictur .pictur__day,
          .news .wrapNews .latestNews .latestNews__articles2 .articles1__pictur .pictur__day,
          .news .wrapNews .latestNews .latestNews__articles2 .articles2__pictur .pictur__day {
            width: 39px;
            height: 39px;
            position: absolute;
            left: -20px;
            top: 54px;
            background-color: #f4b60d;
            color: #000;
            font-weight: 500;
            line-height: 40px;
            text-align: center; }
        .news .wrapNews .latestNews .latestNews__articles1 .articles1__title,
        .news .wrapNews .latestNews .latestNews__articles1 .articles2__title,
        .news .wrapNews .latestNews .latestNews__articles2 .articles1__title,
        .news .wrapNews .latestNews .latestNews__articles2 .articles2__title {
          float: right;
          width: 388px;
          font-family: 'Ubuntu', sans-serif;
          font-size: 16px;
          font-weight: 500; }
          .news .wrapNews .latestNews .latestNews__articles1 .articles1__title a,
          .news .wrapNews .latestNews .latestNews__articles1 .articles2__title a,
          .news .wrapNews .latestNews .latestNews__articles2 .articles1__title a,
          .news .wrapNews .latestNews .latestNews__articles2 .articles2__title a {
            text-decoration: none;
            color: #000; }
          .news .wrapNews .latestNews .latestNews__articles1 .articles1__title a:hover,
          .news .wrapNews .latestNews .latestNews__articles1 .articles2__title a:hover,
          .news .wrapNews .latestNews .latestNews__articles2 .articles1__title a:hover,
          .news .wrapNews .latestNews .latestNews__articles2 .articles2__title a:hover {
            color: #248cec; }
        .news .wrapNews .latestNews .latestNews__articles1 .articles1__coments,
        .news .wrapNews .latestNews .latestNews__articles1 .articles2__coments,
        .news .wrapNews .latestNews .latestNews__articles2 .articles1__coments,
        .news .wrapNews .latestNews .latestNews__articles2 .articles2__coments {
          float: right;
          width: 388px;
          font-size: 13px;
          color: #8a8a8a; }
          .news .wrapNews .latestNews .latestNews__articles1 .articles1__coments a,
          .news .wrapNews .latestNews .latestNews__articles1 .articles2__coments a,
          .news .wrapNews .latestNews .latestNews__articles2 .articles1__coments a,
          .news .wrapNews .latestNews .latestNews__articles2 .articles2__coments a {
            text-decoration: none;
            color: #248cec; }
        .news .wrapNews .latestNews .latestNews__articles1 .articles1__paragraf,
        .news .wrapNews .latestNews .latestNews__articles1 .articles2__paragraf,
        .news .wrapNews .latestNews .latestNews__articles2 .articles1__paragraf,
        .news .wrapNews .latestNews .latestNews__articles2 .articles2__paragraf {
          float: right;
          margin-top: 30px;
          width: 388px;
          font-size: 13px;
          color: #8a8a8a; }
    .news .wrapNews .bannersPlace {
      float: right;
      width: 560px; }
      .news .wrapNews .bannersPlace .bannersPlace__title {
        font-size: 24px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 600; }
      .news .wrapNews .bannersPlace .bannersPlace__bottom {
        height: 40px;
        border: 1px solid #e8e8e8; }
        .news .wrapNews .bannersPlace .bannersPlace__bottom .plusMinus {
          float: left;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-right: 2px solid #e8e8e8; }
        .news .wrapNews .bannersPlace .bannersPlace__bottom .bottom__title {
          line-height: 40px;
          width: 503px;
          padding-left: 55px; }
      .news .wrapNews .bannersPlace .bannersPlace__content {
        width: 503px;
        display: none;
        margin-left: 57px;
        color: #8a8a8a; }

/*# sourceMappingURL=style.css.map */
