* {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.time {
width: 310px;
background-color: #f5de74;
border: 2px solid black;
border-radius: 20px;
margin-left: auto;
margin-right: auto;
margin-top: 200px;
}
.box_for_time{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.hours,
.minuts,
.secunds,
.points{
  font-size: 50px;
  font-weight: bold;
}
.msecands {
  display: block;
  font-size: 20px;
  margin-left: 220px;
}
.wrap-button{
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}
.display-none{
  display: none;
}
.start{
  width: 80px;
  height: 60px;
  margin-top: 20px;
  background-color: #2ed752;
  border: 2px solid black;
  border-radius: 20px;
}
.stop {
  width: 80px;
  height: 60px;
  margin-top: 20px;
  background-color: #2ed1d7;
  border: 2px solid black;
  border-radius: 20px;
}
.clean{
  width: 80px;
  height: 60px;
  float: right;
  margin-top: 20px;
  background-color: #ee751c;
  border-radius: 20px;
  border: 2px solid black;
}
