<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TaskJS_13-14</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="js/template.js"></script>

</head>
<body>
  <script type="text/jemplate" id="test">
    <h1> <%=dog%></h1>
    // <form method="psot" class="form">
    //    <ol>
    //      <% for (var i=0; i<3; i++) {
    //        <li> <%= QuestionsAndAnswers[i].qustion %>
    //        </li>
    //      }%>
    //    </ol>
    //  <input type="submit" value="Проверить мои результаті">
    // </form>
  </script>
<script src="js/script.js"></script>
</body>
</html>
