$colorpink: #ff4e50;

.header {
  width: 100%;
  height: 700px;
  background-image: url(../img/heder_foto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 320px) {


}
