.wrapForTemplate {
  width: 100%; }

.discover__title {
  width: 275px;
  height: 45px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 22px; }

.grid-sizer,
.grid-item {
  width: 20%; }

.grid {
  width: 320px;
  margin-left: auto;
  margin-right: auto; }
  .grid .grid-item {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 300px;
    height: 120px; }
    .grid .grid-item .grid-tag {
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      margin-left: -150px;
      margin-right: -150px;
      color: #fff;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 22px; }
  .grid .grid-item img {
    width: 300px;
    height: 120px;
    border-radius: 5px; }
  .grid .grid-item--width2 {
    width: 300px;
    height: 120px; }

.mainWrap {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  .mainWrap .header {
    width: 100%;
    height: 700px;
    background-image: url(../img/heder_foto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .mainWrap .header .header__wrap {
      width: 100%; }
      .mainWrap .header .header__wrap .header__logIn {
        display: inline-block;
        margin-left: 80px;
        margin-top: 32px;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: bolder; }
        .mainWrap .header .header__wrap .header__logIn a {
          color: #fff;
          text-decoration: none; }
      .mainWrap .header .header__wrap .header__signUp {
        display: inline-block;
        padding: 10px 15px 10px 15px;
        border: 2px solid #fff;
        border-radius: 35px;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: bolder; }
        .mainWrap .header .header__wrap .header__signUp a {
          color: #fff;
          text-decoration: none; }
      .mainWrap .header .header__wrap .header__logo {
        width: 170px;
        margin-top: 110px;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: 20px; }
      .mainWrap .header .header__wrap .slogan {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto; }
        .mainWrap .header .header__wrap .slogan .slogan__ferstline {
          margin-top: 40px;
          color: #fff;
          line-height: 35px;
          text-transform: uppercase;
          text-align: center;
          font-family: Montserrat, sans-serif;
          font-size: 30px;
          font-weight: bold; }
        .mainWrap .header .header__wrap .slogan .slogan__secondline {
          max-width: 216px;
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
          color: #fff;
          text-align: center;
          font-size: 18px;
          font-family: roboto, sans-serif; }
      .mainWrap .header .header__wrap .header__button {
        width: 280px;
        height: 40px;
        margin-top: 20px;
        margin-left: 20px;
        cursor: pointer;
        background-color: #ff4e50;
        border-radius: 35px;
        text-align: center; }
        .mainWrap .header .header__wrap .header__button a {
          text-decoration: none;
          color: #fff;
          line-height: 40px;
          font-family: Montserrat, sans-serif;
          font-weight: bold; }
  .mainWrap .content__title {
    margin: 20px 0 40px 30px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 22px; }
  .mainWrap .jcarousel {
    max-width: 320px;
    margin-top: 10px;
    position: relative;
    overflow: hidden; }
  .mainWrap .jcarousel__box1,
  .mainWrap .jcarousel__box2,
  .mainWrap .jcarousel__box3 {
    width: 2000px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none; }
  .mainWrap .jcarousel li {
    width: 300px;
    height: 240px;
    position: relative;
    margin-left: 10px;
    float: left; }
  .mainWrap .box1__element1,
  .mainWrap .box2__element1,
  .mainWrap .box3__element1 {
    position: relative;
    background-image: url(../img/Slider_1.jpg);
    background-size: cover; }
    .mainWrap .box1__element1 .box1__step1,
    .mainWrap .box1__element1 .box2__step1,
    .mainWrap .box1__element1 .box3__step1,
    .mainWrap .box2__element1 .box1__step1,
    .mainWrap .box2__element1 .box2__step1,
    .mainWrap .box2__element1 .box3__step1,
    .mainWrap .box3__element1 .box1__step1,
    .mainWrap .box3__element1 .box2__step1,
    .mainWrap .box3__element1 .box3__step1 {
      display: block;
      width: 70px;
      height: 20px;
      margin-top: 70px;
      margin-left: 20px;
      border-radius: 25px;
      background-color: #ff4e50;
      color: #fff;
      text-align: center;
      text-decoration: none;
      line-height: 20px;
      letter-spacing: 3px;
      font-family: Montserrat, sans-serif;
      font-weight: normal;
      font-size: 10px; }
    .mainWrap .box1__element1 .box1__title1,
    .mainWrap .box1__element1 .box2__title1,
    .mainWrap .box1__element1 .box3__title1,
    .mainWrap .box2__element1 .box1__title1,
    .mainWrap .box2__element1 .box2__title1,
    .mainWrap .box2__element1 .box3__title1,
    .mainWrap .box3__element1 .box1__title1,
    .mainWrap .box3__element1 .box2__title1,
    .mainWrap .box3__element1 .box3__title1 {
      width: 170px;
      margin-top: 20px;
      margin-left: 20px;
      line-height: 24px;
      color: #fff;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 24px; }
    .mainWrap .box1__element1 .box1__paragraph1,
    .mainWrap .box1__element1 .box2__paragraph1,
    .mainWrap .box1__element1 .box3__paragraph1,
    .mainWrap .box2__element1 .box1__paragraph1,
    .mainWrap .box2__element1 .box2__paragraph1,
    .mainWrap .box2__element1 .box3__paragraph1,
    .mainWrap .box3__element1 .box1__paragraph1,
    .mainWrap .box3__element1 .box2__paragraph1,
    .mainWrap .box3__element1 .box3__paragraph1 {
      width: 260px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      font-family: roboto, sans-serif;
      font-size: 14px;
      color: #cccccc; }
  .mainWrap .box1__element2,
  .mainWrap .box2__element2,
  .mainWrap .box3__element2 {
    position: relative;
    background-image: url(../img/Slider_2.jpg);
    background-size: cover; }
    .mainWrap .box1__element2 .box1__step2,
    .mainWrap .box1__element2 .box2__step2,
    .mainWrap .box1__element2 .box3__step2,
    .mainWrap .box2__element2 .box1__step2,
    .mainWrap .box2__element2 .box2__step2,
    .mainWrap .box2__element2 .box3__step2,
    .mainWrap .box3__element2 .box1__step2,
    .mainWrap .box3__element2 .box2__step2,
    .mainWrap .box3__element2 .box3__step2 {
      display: block;
      width: 70px;
      height: 20px;
      margin-top: 70px;
      margin-left: 20px;
      border-radius: 25px;
      background-color: #ff4e50;
      color: #fff;
      text-align: center;
      text-decoration: none;
      line-height: 20px;
      letter-spacing: 3px;
      font-family: Montserrat, sans-serif;
      font-weight: normal;
      font-size: 10px; }
    .mainWrap .box1__element2 .box1__title2,
    .mainWrap .box1__element2 .box2__title2,
    .mainWrap .box1__element2 .box3__title2,
    .mainWrap .box2__element2 .box1__title2,
    .mainWrap .box2__element2 .box2__title2,
    .mainWrap .box2__element2 .box3__title2,
    .mainWrap .box3__element2 .box1__title2,
    .mainWrap .box3__element2 .box2__title2,
    .mainWrap .box3__element2 .box3__title2 {
      width: 170px;
      margin-top: 20px;
      margin-left: 20px;
      line-height: 24px;
      color: #fff;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 24px; }
    .mainWrap .box1__element2 .box1__paragraph2,
    .mainWrap .box1__element2 .box2__paragraph2,
    .mainWrap .box1__element2 .box3__paragraph2,
    .mainWrap .box2__element2 .box1__paragraph2,
    .mainWrap .box2__element2 .box2__paragraph2,
    .mainWrap .box2__element2 .box3__paragraph2,
    .mainWrap .box3__element2 .box1__paragraph2,
    .mainWrap .box3__element2 .box2__paragraph2,
    .mainWrap .box3__element2 .box3__paragraph2 {
      width: 260px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      font-family: roboto, sans-serif;
      font-size: 14px;
      color: #cccccc; }
  .mainWrap .box1__element3,
  .mainWrap .box2__element3,
  .mainWrap .box3__element3 {
    position: relative;
    background-image: url(../img/Slider_3.jpg);
    background-size: cover; }
    .mainWrap .box1__element3 .box1__step3,
    .mainWrap .box1__element3 .box2__step3,
    .mainWrap .box1__element3 .box3__step3,
    .mainWrap .box2__element3 .box1__step3,
    .mainWrap .box2__element3 .box2__step3,
    .mainWrap .box2__element3 .box3__step3,
    .mainWrap .box3__element3 .box1__step3,
    .mainWrap .box3__element3 .box2__step3,
    .mainWrap .box3__element3 .box3__step3 {
      display: block;
      width: 70px;
      height: 20px;
      margin-top: 70px;
      margin-left: 20px;
      border-radius: 25px;
      background-color: #ff4e50;
      color: #fff;
      text-align: center;
      text-decoration: none;
      line-height: 20px;
      letter-spacing: 3px;
      font-family: Montserrat, sans-serif;
      font-weight: normal;
      font-size: 10px; }
    .mainWrap .box1__element3 .box1__title3,
    .mainWrap .box1__element3 .box2__title3,
    .mainWrap .box1__element3 .box3__title3,
    .mainWrap .box2__element3 .box1__title3,
    .mainWrap .box2__element3 .box2__title3,
    .mainWrap .box2__element3 .box3__title3,
    .mainWrap .box3__element3 .box1__title3,
    .mainWrap .box3__element3 .box2__title3,
    .mainWrap .box3__element3 .box3__title3 {
      width: 170px;
      margin-top: 20px;
      margin-left: 20px;
      line-height: 24px;
      color: #fff;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 24px; }
    .mainWrap .box1__element3 .box1__paragraph3,
    .mainWrap .box1__element3 .box2__paragraph3,
    .mainWrap .box1__element3 .box3__paragraph3,
    .mainWrap .box2__element3 .box1__paragraph3,
    .mainWrap .box2__element3 .box2__paragraph3,
    .mainWrap .box2__element3 .box3__paragraph3,
    .mainWrap .box3__element3 .box1__paragraph3,
    .mainWrap .box3__element3 .box2__paragraph3,
    .mainWrap .box3__element3 .box3__paragraph3 {
      width: 260px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      font-family: roboto, sans-serif;
      font-size: 14px;
      color: #cccccc; }
  .mainWrap .meetPartners__wrap {
    width: 100%; }
    .mainWrap .meetPartners__wrap .meetPartners__title {
      width: 260px;
      margin-top: 40px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: 22px;
      font-weight: bold; }
    .mainWrap .meetPartners__wrap .avatarbox1__foto,
    .mainWrap .meetPartners__wrap .avatarbox2__foto,
    .mainWrap .meetPartners__wrap .avatarbox3__foto,
    .mainWrap .meetPartners__wrap .avatarbox4__foto {
      position: relative;
      width: 125px;
      height: 125px;
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat; }
    .mainWrap .meetPartners__wrap .avatarbox1__sprite,
    .mainWrap .meetPartners__wrap .avatarbox2__sprite,
    .mainWrap .meetPartners__wrap .avatarbox3__sprite,
    .mainWrap .meetPartners__wrap .avatarbox4__sprite {
      position: absolute;
      right: 2px;
      bottom: 10px;
      width: 40px;
      height: 40px;
      background-image: url(../img/spritesheet.png); }
    .mainWrap .meetPartners__wrap .avatarbox1__title,
    .mainWrap .meetPartners__wrap .avatarbox2__title,
    .mainWrap .meetPartners__wrap .avatarbox3__title,
    .mainWrap .meetPartners__wrap .avatarbox4__title {
      width: 110px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: bold; }
    .mainWrap .meetPartners__wrap .avatarbox1__content,
    .mainWrap .meetPartners__wrap .avatarbox2__content,
    .mainWrap .meetPartners__wrap .avatarbox3__content,
    .mainWrap .meetPartners__wrap .avatarbox4__content {
      width: 215px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: #8f8f8f;
      font-family: roboto, sans-serif;
      font-weight: lighter;
      font-size: 14px; }
    .mainWrap .meetPartners__wrap .meetPartner__avatarbox1 {
      width: 100%; }
      .mainWrap .meetPartners__wrap .meetPartner__avatarbox1 .avatarbox1__foto {
        background-image: url(../img/avatar_1.png); }
        .mainWrap .meetPartners__wrap .meetPartner__avatarbox1 .avatarbox1__foto .avatarbox1__sprite {
          background-position: -3px 0; }
    .mainWrap .meetPartners__wrap .meetPartner__avatarbox2 {
      width: 100%; }
      .mainWrap .meetPartners__wrap .meetPartner__avatarbox2 .avatarbox2__foto {
        background-image: url(../img/avatar_2.png); }
        .mainWrap .meetPartners__wrap .meetPartner__avatarbox2 .avatarbox2__foto .avatarbox2__sprite {
          background-position: -55px 0; }
    .mainWrap .meetPartners__wrap .meetPartner__avatarbox3 {
      width: 100%; }
      .mainWrap .meetPartners__wrap .meetPartner__avatarbox3 .avatarbox3__foto {
        background-image: url(../img/avatar_3.png); }
        .mainWrap .meetPartners__wrap .meetPartner__avatarbox3 .avatarbox3__foto .avatarbox3__sprite {
          background-position: -104px 0; }
    .mainWrap .meetPartners__wrap .meetPartner__avatarbox4 {
      width: 100%; }
      .mainWrap .meetPartners__wrap .meetPartner__avatarbox4 .avatarbox4__foto {
        background-image: url(../img/avatar_4.png); }
        .mainWrap .meetPartners__wrap .meetPartner__avatarbox4 .avatarbox4__foto .avatarbox4__sprite {
          background-position: 45px 0; }
    .mainWrap .meetPartners__wrap .meetPartner__button {
      display: block;
      width: 280px;
      height: 40px;
      margin-top: 20px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      text-decoration: none;
      line-height: 40px;
      border: 2px solid #ff4e50;
      border-radius: 25px;
      color: #ff4e50;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: bold; }
  .mainWrap .discover__nav {
    width: 100%;
    margin-top: 40px; }
    .mainWrap .discover__nav .nav__title {
      width: 275px;
      height: 45px;
      margin-top: 40px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 22px; }
    .mainWrap .discover__nav .nav__description {
      width: 277px;
      margin-left: auto;
      margin-right: auto;
      font-family: roboto, sans-serif;
      font-weight: lighter;
      font-size: 18px; }
    .mainWrap .discover__nav .nav__value {
      display: block;
      width: 280px;
      height: 40px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #cccccc;
      border-radius: 5px; }
    .mainWrap .discover__nav .nav_button {
      width: 280px;
      height: 40px;
      margin-top: 20px;
      margin-left: 20px;
      cursor: pointer;
      background-color: #ff4e50;
      border-radius: 35px;
      text-align: center; }
      .mainWrap .discover__nav .nav_button a {
        text-decoration: none;
        color: #fff;
        line-height: 40px;
        font-family: Montserrat, sans-serif;
        font-weight: bold; }
  .mainWrap .footer__wrap {
    width: 100%;
    margin-top: 40px;
    border-top: 3px solid #ff4e50; }
    .mainWrap .footer__wrap .footer__title {
      width: 145px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      color: #ff4e50;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 16px; }
    .mainWrap .footer__wrap .footer__company {
      width: 60px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 14px; }
    .mainWrap .footer__wrap .footer__items {
      width: 200px;
      margin-top: 7px;
      margin-left: auto;
      margin-right: auto; }
      .mainWrap .footer__wrap .footer__items .footer__item1,
      .mainWrap .footer__wrap .footer__items .footer__item2,
      .mainWrap .footer__wrap .footer__items .footer__item3,
      .mainWrap .footer__wrap .footer__items .footer__item4 {
        font-family: roboto, sans-serif;
        font-weight: lighter;
        font-size: 14px;
        text-decoration: none; }
      .mainWrap .footer__wrap .footer__items .footer__item1,
      .mainWrap .footer__wrap .footer__items .footer__item2,
      .mainWrap .footer__wrap .footer__items .footer__item3 {
        margin-right: 11px; }
    .mainWrap .footer__wrap .footer__partners {
      width: 60px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 14px; }
    .mainWrap .footer__wrap .footer__logo {
      width: 130px;
      height: 50px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto; }
      .mainWrap .footer__wrap .footer__logo .logo__designer {
        width: 80px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        color: #ccc;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: 10px; }

@media (min-width: 321px) {
  .mainWrap {
    max-width: 768px; }
    .mainWrap .header {
      max-width: 768px; }
      .mainWrap .header .header__wrap {
        overflow: hidden;
        position: relative;
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 675px;
        max-height: 430px; }
        .mainWrap .header .header__wrap .header__logIn {
          margin: 0px;
          position: absolute;
          right: 110px;
          top: 50px; }
        .mainWrap .header .header__wrap .header__signUp {
          position: absolute;
          right: 0px;
          top: 40px; }
        .mainWrap .header .header__wrap .header__logo {
          margin: 0px; }
        .mainWrap .header .header__wrap .slogan {
          max-width: 597px; }
          .mainWrap .header .header__wrap .slogan .slogan__ferstline {
            font-size: 52px;
            line-height: 60px; }
          .mainWrap .header .header__wrap .slogan .slogan__secondline {
            max-width: 500px;
            font-size: 30px; }
        .mainWrap .header .header__wrap .header__button {
          margin-top: 40px;
          margin-left: auto;
          margin-right: auto; }
    .mainWrap .content {
      max-width: 768px; }
      .mainWrap .content .content__wrap {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto; }
        .mainWrap .content .content__wrap .content__title {
          width: 290px;
          margin-top: 100px;
          margin-bottom: 40px;
          margin-left: auto;
          margin-right: auto; }
        .mainWrap .content .content__wrap .jcarousel {
          float: left;
          max-width: 233px;
          height: 405px; }
          .mainWrap .content .content__wrap .jcarousel li {
            height: 405px; } }

/*# sourceMappingURL=style.css.map */
