*{
  margin: 0;
  padding: 0;
}
body{
  height: 900px;
}
/*---------------------------jCarousel-----------------------------*/
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    position: relative;
    overflow: hidden;

}


/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 5000px;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.image_1{
  background-image: url(../img/CSS.jpg);
  background-repeat: no-repeat;
}
.image_2{
  background-image: url(../img/goit.jpg);
  background-repeat: no-repeat;
}
.image_3{
  background-image: url(../img/ith.png);
  background-repeat: no-repeat;
}
.image_4{
  background-image: url(../img/javascript.png);
  background-repeat: no-repeat;
}
.jcarousel li{
    /* Required only for block elements like <li>'s */
    width: 800px;
    height: 350px;
    float: left;
}
/*Navigation*/
.jcarousel-prev{
  position: absolute;
  left:215px;
  top: 150px;
}
.jcarousel-next{
  position: absolute;
  right:225px;
  top: 150px;
}
/*---------------------------jCarousel END-----------------------------*/
/*checkbox JQuery*/
.jqr.active {
  background: url(../img/checkbox-sprite.png) no-repeat 0px -17px;
}
.jqr input {
  display: none;
}
.jqr {
  margin-top: 20px;
  margin-left: 160px;
  padding-left: 20px;
  background: url(../img/checkbox-sprite.png) no-repeat 0px 0px;
}
/*checkbox CSS*/
/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox {
  position: absolute;
  opacity: 0;
}
.checkbox + label {
  margin-left: 150px;
  line-height: 35px;
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
  background: #9FD468;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
  left: 26px;
}
/* Показываем получение фокуса. */
.checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
/*Menu*/
nav{
  height: 50px;
  background-color: lightgray;
  text-align: center;
  margin-bottom: 20px;
}
nav ul{
  list-style: none;

}
nav ul li {
  display: inline-block;
  position: relative;
}
nav li ul {
  background: #0000ff;
  position: absolute;
  left: 0;
  top: 40px;
  width: 200px;
}
nav li li {
  position: relative;
  margin: 0;
  display: block;
}
nav li li ul {
  position: absolute;
  top: 0;
  left: 200px;
  margin: 0;
}
nav a {
  line-height: 40px;
  padding: 0 12px;
  margin: 0 12px;
  color: #fff;
  text-decoration: none;
  display: block;
}
nav a:hover,
nav a:focus,
nav a:active {
  color: #999;
}
nav li li a {
  border-bottom: 1px solid #fff;
  margin: 0 10px;
  padding: 0;
}
nav li li:last-child a {
  border-bottom: none;
}
ul.submenu {
  display:none;
}
