@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../font/helveticaneue-thin-webfont.eot');
    src: url('../font/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../font/helveticaneue-thin-webfont.woff') format('woff'),
         url('../font/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: 'helvetica_neueregular';
}
.wrap {
  background-image: url(../img/background.gif);
  background-size: 100%;
}
/*Navigation*/
nav {
  position: relative;
  overflow: hidden;
  background-color: #085292;
  height: 35px;
}
ul {
  width: 70%;
  margin-left: 47%;
}
ul li {
  float: left;;
  margin-left: 5px;
  height: 25px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
ul li:hover  {
  background-color: #4eabda;
}
li:hover a{
  color: #fff;
}
ul li a {
  color: #60b5ed;
}
.minhas,
.ola {
  float: left;
  color: #fff;
}
.minhas {
  border-left: 1px solid #60b5ed;
  height: 35px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 18px;
}
.minhas img {
  display: block;
  float: left;
  margin-right: 5px;
}
.ola {
  border-left: 1px solid #60b5ed;
  border-right: 1px solid #60b5ed;
  background-color: #4aa6d8;
  height: 35px;
  padding-top: 10px;
  padding-left: 18px;
  padding-right: 18px;
}
.ola a {
  color: #fff;
  text-decoration: underline;
}
/*Content*/
.center{
  margin:auto;
  padding-bottom: 58px;
  margin-top: 58px;


}
h1{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  background-color: rgba(69, 72, 63, 0.5);
  text-align: center;
  font-size: 24px;
  color: #fff;
}
/*button*/
button.facebook {
  width: 270px;
  height: 35px;
  margin-bottom: 35px;
  margin-left: 1px;
  overflow: hidden;
  padding: 0;
  background-color: #2e4c7e;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
div.f {
  float: left;
  border-right: 1px solid #203b70;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  font-variant: inherit;
  font-size: 23px;
}
div.facebook_2 {
    padding-top: 10px;
    border-top: 1px solid #7689b4;
}
div.bold,
span.bold {
  font-weight: bold;
  font-size: 15px;
}
/*botton end*/
div.ou {
  color: #999;
  font-size: 14px;
}
.ou img{
  position: absolute;
  left: 536px;
  top: 280px;
}
div.form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 2px;
  padding-top: 35px;
  background-color: rgba(69, 72, 63, 0.5);
  text-align: center;
}

div.form img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
div.text input {
  width: 270px;
  height: 35px;
  padding-left: 15px;
  background-color: #0f0f0f;
  border: none;
  border-bottom: 1px solid #484847;
  color: #fff;
  font-family: 'helvetica_neueregular';
}
div.text input:focus{
  background-color: #1b5288;
  border-radius: 4px;
  box-shadow: 0px 0px 21px 1px rgba(104,155,204,1);
}
.checkbox {
  margin-top: 15px;
  color: #fff;
  }
.checkbox input{
  display: inline;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
button {
  margin-top: 15px;
  padding: 10px;
  background-color: #307cc5;
  border: 1px solid #307cc5;
  border-radius: 4px;
  color: #fff;
}
.pointer {
  cursor: pointer;
}
.footer {
  margin-top: 15px;
  color: #fff;
  font-size: 11px;
}
/*.test {
  content: "";
  padding-top: 200px;
}*/
